openapi: 3.1.0
info:
  title: CloudAlly Authentication Restore API
  version: '1'
  description: CloudAlly (now part of OpenText Cybersecurity) is a SaaS backup and recovery service that protects Microsoft 365, Google Workspace, Salesforce, Box, and Dropbox data. The CloudAlly REST API lets administrators and partners automate backup-task management, restore/download requests, user provisioning, partner-portal operations, and billing reporting. Partners obtain a Client ID and Client Secret (generated in the portal) and exchange them at the /auth/partner endpoint for an access token; portal users sign in against /auth. Tokens are presented as Authorization Bearer headers, and responses are JSON.
  contact:
    name: CloudAlly Support
    url: https://www.cloudally.com/support/
  license:
    name: CloudAlly Terms of Service
    url: https://www.cloudally.com/terms-of-service/
servers:
- url: https://api.cloudally.com
  description: CloudAlly Production API
security:
- bearerAuth: []
tags:
- name: Restore
  description: Restore and download requests.
paths:
  /v1/restore:
    post:
      operationId: createRestoreRequest
      summary: Create a restore request
      description: Initiates a restore of backed-up data into the source SaaS system or as a download.
      tags:
      - Restore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Restore job accepted.
  /v1/restore/{jobId}:
    parameters:
    - name: jobId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRestoreStatus
      summary: Get restore job status
      tags:
      - Restore
      responses:
        '200':
          description: Restore job status.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
