openapi: 3.1.0
info:
  title: CloudAlly Authentication Partners API
  version: '1'
  description: CloudAlly (now part of OpenText Cybersecurity) is a SaaS backup and recovery service that protects Microsoft 365, Google Workspace, Salesforce, Box, and Dropbox data. The CloudAlly REST API lets administrators and partners automate backup-task management, restore/download requests, user provisioning, partner-portal operations, and billing reporting. Partners obtain a Client ID and Client Secret (generated in the portal) and exchange them at the /auth/partner endpoint for an access token; portal users sign in against /auth. Tokens are presented as Authorization Bearer headers, and responses are JSON.
  contact:
    name: CloudAlly Support
    url: https://www.cloudally.com/support/
  license:
    name: CloudAlly Terms of Service
    url: https://www.cloudally.com/terms-of-service/
servers:
- url: https://api.cloudally.com
  description: CloudAlly Production API
security:
- bearerAuth: []
tags:
- name: Partners
  description: Partner-portal account, billing, and reseller endpoints.
paths:
  /v1/partners:
    get:
      operationId: getPartner
      summary: Get partner information
      tags:
      - Partners
      responses:
        '200':
          description: Partner profile.
  /v1/partners/billing:
    get:
      operationId: getPartnerBilling
      summary: Get partner billing data
      tags:
      - Partners
      responses:
        '200':
          description: Billing data for the authenticated partner.
  /v1/partners/status:
    get:
      operationId: getPartnerStatus
      summary: Get partner status
      tags:
      - Partners
      responses:
        '200':
          description: Partner status overview.
  /v1/partners/tasks:
    get:
      operationId: listPartnerTasks
      summary: List partner tasks
      tags:
      - Partners
      responses:
        '200':
          description: Tasks managed by the partner.
  /v1/partners/resellers:
    get:
      operationId: listResellers
      summary: List partner resellers
      tags:
      - Partners
      responses:
        '200':
          description: Resellers under the partner.
  /v1/partners/resellers/{resellerId}:
    parameters:
    - name: resellerId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getReseller
      summary: Get a reseller
      tags:
      - Partners
      responses:
        '200':
          description: Reseller details.
  /v1/partners/users:
    get:
      operationId: listPartnerUsers
      summary: List users managed by the partner
      tags:
      - Partners
      responses:
        '200':
          description: Users under the partner.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
